body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Permanent Marker", cursive;
}

#Gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 300px;
}

.box {
  border: solid 2px black;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 700;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#restart {
  background-color: rgb(1, 172, 1);
  width: 120px;
  padding: 10px 15px;
  color: aliceblue;
  font-weight: 700;
  font-size: 15px;
}
